.btn {
  padding: 1rem 1.5rem;
  border-radius: var(--rounded-md);
  box-shadow: var(--shadow-md);
  cursor: pointer;
  border: none;

  &-primary {
    background: var(--primary);
    color: var(--white);
    &:hover{
      background-color: var(--primary-1);
    }
  }

  &-secondary {
    background: var(--white);
    color: var(--primary);
    border: 1px solid var(--primary);
    &:hover{
      color: var(--primary-1);
      border: 1px solid var(--primary-1);
    }
  }
}